
h1 {
    text-align: center;
    color: royalblue;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    text-align: center;
}

div {
    text-align: center;
}

p {
    text-align: center;
    color: slateblue;
}
img.center {
    display: block;
    margin: 0 auto;
}


table.center {
    margin-left: auto;
    margin-right: auto;
}
ol {
    display: table; 
    margin: 0 auto;
    text-align: center;
}